.container{
    text-align: center;  
    align-content: center;
    justify-content: center;
}

.board button{
    width: 100px;
    height: 100px;
    background-color: gray;
    margin: 1px;
    border: 4px solid black;
    border-radius: 50%;
}